---
  name: Image push test
  run-name: ${{ github.actor }} is testing out building/pushing an image
  
  on: [push]
  
  
  jobs:
    build:
      name: Build
      runs-on: ubuntu-20.04
      steps:
        - name: Checkout Repo
          uses: actions/checkout@v4
        - name: Registry Login
          uses: docker/login-action@v3
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}
        - name: Build and push
          uses: docker/build-push-action@v5
          with:
            push: true
            file: Dockerfile
            tags: | 
              ghcr.io/washu-it-ris/alphafold3_wustl_fork_agora_implementation:latest
